.wifi_password.txt
.ark
.autoenv
.zshrc.bak
.zshrc.bak.bak
.gnupg
.config/Syncplay
.config/NuGet
.config/ggshield
.cache_ggshield
.ssh
.config/lapce**
.config/configstore
.config/pulse
.*.json**
.azure/**
**/depot_tools**
**/KDE**
.histfile
.config/xsettingsd
.config/powershell
.config/kaizen
.config/libaccounts**
.config/remmina
**/dsg**
.config/qBit*
.config/ncspot
.config/hakuneko**
.config/torbrowser**
.config/fastanime
.config/kaizen
**/dconf**
.scripts/**
.config/remina
.config/racket
.config/ncspot
./config/lapce**
**/kde**
**/deepin**
**/depot_tools**
**/gh**
**/font_config**
**/.composer
**/akonadi**
**/deepin**
**/fastanime**
**/KDE**
**/fontconfig**
**/Nuget**
**/*arkonia*
**/.avalonia**
**/Syncplay***
**/VirtualBox**
**/configstore**e
**/composer**
**/gtk-**
.spacemacs*
.vscode-R
.vmware/**
**/*unknown*
**/*Oorganisation*
**/*session*
.zsh_history
.profile
.osh-update
.zshrc.b
.zshrc.pre-oh-my-zsh
total_dot_files.txt
.python_history
.masterpdfeditor
.dotnet/**
.pki/**
.gnupg/**
*.save
*.osh
.wget*
.radian/**
.hyper_plugins/**
.elvish
.fltk
.subversion/**
.master*
.font_list
.histfile
.radian_history
.bash_history
.bash_logout
.tcsh*
.xonshrc
.zcompdump*
.fontlist
.steam
.var
.vkquake
.dotnet
.texlive
.elvish
.r
.wget*
.subversion/(
